# Database
# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/penshop?schema=public"

# Backend (NestJS)
PORT=8000

# Frontend (Next.js)
FRONTEND_URL=http://localhost:3000
